@if(loading){
<h3>Cargando lista de Usuarios...</h3>
} @if(!loading){
<div class="d-flex align-items-md-center justify-content-between">
  <h3>Administrador de usuarios</h3>
  <div class="input-group">
    <span class="input-group-text"><i class="bi bi-search"></i></span>
    <input type="text" class="form-control" placeholder="Buscar" [(ngModel)]="busquedaText" />
  </div>
  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalUsuarios" (click)="setAgregarModificar('Agregar')">Nuevo</button>
</div>
<table class="table table-hover mt-sm-4">
  <thead>
    <tr>
      <th scope="col">Nombre Completo</th>
      <th scope="col">Fecha Nacimiento</th>
      <th scope="col">Email</th>
      <th scope="col">Dirección Principal</th>
      <th scope="col">Opciones</th>
    </tr>
  </thead>
  <tbody>
    @for (user of filtroUsersList; track $index){
    <tr>
      <td>{{ user.fullName }}</td>
      <td>{{ user.birth | date : "dd/MM/yyyy" }}</td>
      <td>{{ user.email }}</td>
      <td>{{ user.street }}</td>
      <td>
        <button type="button" class="btn btn-outline-danger btn-opciones" data-bs-toggle="modal" data-bs-target="#modalUsuariosEliminar" (click)="funEliminar(user.id, user.fullName)"><i class="bi bi-x-lg"></i></button>
        <button type="button" class="btn btn-outline-info btn-opciones" data-bs-toggle="modal" data-bs-target="#modalUsuarios" (click)="funModificar(user.id, user.fullName, user.email, user.birth)"><i class="bi bi-pencil"></i></button>
      </td>
    </tr>
    }
  </tbody>
</table>
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item"><a class="page-link" (click)="funPaginacion(1)">1</a></li>
    <li class="page-item"><a class="page-link" (click)="funPaginacion(2)">2</a></li>
    <li class="page-item"><a class="page-link" (click)="funPaginacion(3)">3</a></li>
  </ul>
</nav>

<app-usuarios-modal [agregarModificarUsuario]="agregarModificar" [idUsuario]="idUsuario" [nombreUsuario]="nombreUsuario" [emailUsuario]="emailUsuario" [fechaNacimiento]="fechaNacimiento" (funConfirmacionModal)="funConfirmacionModal()" />
}
