<div class="container d-flex justify-content-center">
  <div class="card">
    <div class="d-flex justify-content-center">
      <img src="../../../assets/totalpack.png" class="card-img-top" alt="totalpack" />
    </div>
    <div class="card-body">
      <h5 class="card-title">Comentarios</h5>
      <p class="card-text">Les comentaré un poco mi experiencia y a lo que me vi enfrentado al realizar esta prueba técnica.</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Migré la versión de Angular de 17 a la última 18.</li>
      <li class="list-group-item">Utilicé Bootstrap para simplificar el proceso del diseño del Front.</li>
      <li class="list-group-item">Por tiempo, no alcancé a realizar la funcionalidad de Enviar email al crear un usuario nuevo. Mi idea era crear un EndPoint que se encargara del envío..</li>
      <li class="list-group-item">Me faltó realizar algunas validaciones en los input.</li>
      <li class="list-group-item">Agregué un Buscador para los registros de la tabla que se muestran, dependiendo de la página actual en la que esté posicionado.</li>
      <li class="list-group-item">La paginación la realicé de manera básica (3 hojas estáticas), lo ideal es devolver del EndPoint la cantidad de registros totales y hoja actual para manejarlo de mejor manera (no alcancé).</li>
      <li class="list-group-item">
        Back | Todos los proyectos se llaman ...Users... mi idea era separar Usuarios y Direcciones, para ello le podría haber cambiado el nombre a los proyectos para que fueran más generales, pensando que en el futuro quisiera agregar distintos
        tipos de EndPoint que no sean relacionados a Usuarios, a no ser que se cree un proyecto diferente para cada Negocio (ejemplo, Empresas, Productos, Ventas, etc).
      </li>
      <li class="list-group-item">Environment: export const environment = export const environment = URL_API: 'https://localhost:7073/api'".</li>
    </ul>
    <div class="card-body">
      <a href="https://www.totalpack.cl/" target="_blank" class="card-link">TotalPack</a>
    </div>
  </div>
</div>
