<div class="contenedor">
  <div class="d-flex justify-content-center mb-sm-4">
    <div class="card d-flex justify-content-center">
      <div class="card-body">
        <p>
          Estoy buscando nuevos desafíos, para crecer como profesional, tengo la convicción de que mis habilidades técnicas y personalidad, pueden contribuir significativamente al equipo de trabajo de su empresa, apoyándoles para alcanzar sus metas y
          objetivos de manera efectiva.
          <br /><br />
          A lo largo de mi trayectoria laboral, he tenido la oportunidad de relacionarme con diversos grupos de personas y he cultivado habilidades que me han destacado como un profesional responsable, ordenado y sociable.
          <br /><br />
          Mi enfoque siempre ha sido dejar una huella positiva en cada entorno en el que trabajo, buscando siempre superar expectativas y aportar valor de manera constante.
        </p>
      </div>
    </div>
  </div>

  <div class="contenedorHeader">
    <header>
      <h1>Javier Alejandro Olivares Zavala</h1>
      <h2>Desarrollador FullStack | Ingeniero en Informática</h2>
      <h3>+569 9083 8929</h3>
      <h3>javier.olivares.zavala&#64;gmail.com</h3>
      <h3>https://www.linkedin.com/in/javier-olivares-zavala</h3>
    </header>
    <div class="imagen">
      <img src="../../../assets/JAVIER OLIVARES_1.jpg" alt="JavierOlivaresZavala" />
    </div>
  </div>

  <div class="contenedorContenido">
    <div class="contenidoIzquierda">
      <article>
        <section class="acercaDeMi">
          <h4>ACERCA DE MÍ</h4>
          <p>
            Con más de 14 años de experiencia en el área de TI, poseo un dominio avanzado de diversos lenguajes de programación, con gran capacidad para adaptarme a distintas metodologías de trabajo, pensamiento analítico, perseverante y eficiente en
            la resolución de problemas. Facilidad en el aprendizaje de nuevas tecnologías y negocios.
          </p>
        </section>

        <section class="habilidadesTecnicas">
          <h4>HABILIDADES TÉCNICAS</h4>
          <ul>
            <li>
              BackEnd
              <ul class="elementosLi">
                <li>C# (.NET Framework - .NET Core)</li>
                <li>Node.js (NestJS)</li>
                <li>Api RESTful</li>
                <li>Azure Functions</li>
                <li>Azure Service Bus</li>
                <li>Git</li>
                <li>Azure | AWS | Docker | Kubernetes</li>
                <li>JWT Tokens | OAuth | SSO</li>
                <li>Quartz.NET</li>
              </ul>
            </li>

            <li>FrontEnd</li>
            <ul class="elementosLi">
              <li>HTML</li>
              <li>CSS | Bootstrap | SASS | CSS Grid | Flexbox</li>
              <li>JavaScript | TypeScript</li>
              <li>JQuery</li>
              <li>Angular</li>
              <li>ReactJs</li>
            </ul>

            <li>Base de Datos</li>
            <ul class="elementosLi">
              <li>SQL Server</li>
              <li>PostgreSQL</li>
              <li>MongoDB</li>
              <li>Azure Cosmos DB</li>
              <li>Elasticsearch</li>
            </ul>

            <li>Otros</li>
            <ul class="elementosLi">
              <li>Principios SOLID</li>
              <li>Clean Code</li>
              <li>Patrones de diseño (Inyección de dependencia | Singleton)</li>
              <li>Arquitecturas (MVC | Microservicios | Micro Frontends | Hexagonal)</li>
            </ul>
          </ul>
        </section>

        <section class="habilidadesBlandas">
          <h4>HABILIDADES BLANDAS</h4>
          <ul class="elementosLi">
            <li>Responsable y ordenado</li>
            <li>Compartir conocimiento y experiencia</li>
            <li>Comunicativo y sociable</li>
            <li>Autodidacta, resiliente y proactivo</li>
          </ul>
        </section>

        <section class="educacion">
          <h4>EDUCACIÓN</h4>
          <ul>
            <li>
              Instituto Profesional DuocUC
              <ul class="elementosLi">
                <li>Ingeniería en Informática - 2012</li>
                <li>Analista Programador Computacional - 2010</li>
              </ul>
            </li>
          </ul>
        </section>
      </article>
    </div>

    <div class="contenidoDerecha">
      <aside>
        <h4>EXPERIENCIA</h4>
        <section class="falabella">
          <h5>Desarrollador BackEnd</h5>

          <h6>Abril 2023 – Marzo 2024 / Seidor (Desempeño de labores en Seguros Falabella)</h6>

          <p>Desarrollador y migración de Apis (.Net y Nest.js) para la integración con las compañias de seguros en el proceso de compra. Documentación de Apis en SwaggerHub y Apicurio.</p>

          <ul>
            <strong><li>Tecnologías:</li></strong>
            <ul>
              <li>.Net C#</li>
              <li>.Net Core</li>
              <li>Node.js</li>
              <li>NestJS</li>
            </ul>
          </ul>
          <br />
          <ul>
            <strong><li>Base de datos:</li></strong>
            <ul>
              <li>SQL Server</li>
              <li>PostgreSQL</li>
              <li>Azure Cosmos DB</li>
            </ul>
          </ul>
          <br />
          <ul>
            <strong><li>Herramientas:</li></strong>
            <ul>
              <li>Visual Studio</li>
              <li>Visual Studio Code</li>
              <li>DBeaver</li>
              <li>Azure</li>
              <li>Git</li>
              <li>Jira</li>
              <li>Confluence</li>
            </ul>
          </ul>
          <br />
          <ul>
            <strong><li>Metodologías:</li></strong>
            <ul>
              <li>Ágil (SCRUM)</li>
            </ul>
          </ul>
        </section>
        <hr />
        <section class="iconstruye">
          <h5>Desarrollador FullStack</h5>
          <h6>Marzo 2015 – Diciembre 2022 / iConstruye</h6>

          <p>
            Creación y mantención de módulos para el Marketplace del portal de la compañía del rubro de la construcción, desarrollos implementados en el BackEnd y FrontEnd, utilizando una gran variedad de lenguajes de programación y tecnologías.
            Labores realizadas bajo metodología Ágil, participando en distintos equipos de trabajo y actuando como lider técnico de varios proyectos.
          </p>

          <ul>
            <strong><li>Tecnologías:</li></strong>
            <ul>
              <li>.Net C#</li>
              <li>.Net Framework</li>
              <li>.Net Core</li>
              <li>MVC</li>
              <li>Api RESTful</li>
              <li>Azure Functions</li>
              <li>Azure Service Bus</li>
              <li>Quartz.Net</li>
              <li>Node.js</li>
              <li>Angular</li>
              <li>ReactJs</li>
              <li>JavaScript</li>
              <li>TypeScript</li>
              <li>JQuery</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>Microservicios</li>
              <li>Micro Frontends</li>
              <li>JWT Tokens</li>
              <li>Amazon Cognito</li>
              <li>OAuth</li>
              <li>SSO</li>
            </ul>
          </ul>
          <br />
          <ul>
            <strong><li>Base de datos:</li></strong>
            <ul>
              <li>SQL Server</li>
              <li>PostgreSQL</li>
              <li>MongoDB</li>
              <li>Elasticsearch</li>
            </ul>
          </ul>
          <br />
          <ul>
            <strong><li>Herramientas:</li></strong>
            <ul>
              <li>Visual Studio</li>
              <li>Visual Studio Code</li>
              <li>SQL Server</li>
              <li>Azure</li>
              <li>Git</li>
              <li>AWS</li>
            </ul>
          </ul>
          <br />
          <ul>
            <strong><li>Metodologías:</li></strong>
            <ul>
              <li>Ágil (SCRUM)</li>
              <li>Modelo de cascada</li>
            </ul>
          </ul>
        </section>
        <hr />
        <section class="aiep">
          <h5>Analista Sistemas TI</h5>
          <h6>Abril 2013 – Noviembre 2014 / Helpnet Ingeniería (Desempeño de labores en Instituto Profesional AIEP)</h6>

          <p>
            Analista y Desarrollador de aplicaciones (.Net) para mejorar la experiencia en el proceso de matrícula de nuevos estudiantes. Creación de ETL y Web Services, para generar reportes y estadísticas de la utilización de los módulos por parte
            de docentes y alumnos.
          </p>

          <ul>
            <strong><li>Tecnologías:</li></strong>
            <ul>
              <li>.Net C#</li>
              <li>Visual Basic.Net</li>
              <li>Visual Basic 6.0</li>
              <li>JavaScript</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>Crystal Report</li>
              <li>Reporting Services (SSRS)</li>
              <li>ETL (SSIS)</li>
              <li>WebServices</li>
            </ul>
          </ul>
          <br />
          <ul>
            <strong><li>Base de datos:</li></strong>
            <ul>
              <li>SQL Server</li>
            </ul>
          </ul>
          <br />
          <ul>
            <strong><li>Herramientas:</li></strong>
            <ul>
              <li>Visual Studio</li>
              <li>SQL Server</li>
              <li>Visual Basic</li>
              <li>TortoiseSvn</li>
            </ul>
          </ul>
          <br />
          <ul>
            <strong><li>Metodologías:</li></strong>
            <ul>
              <li>Modelo de cascada</li>
            </ul>
          </ul>
        </section>
        <hr />
        <section class="goldenfrost">
          <h5>Analista Programador</h5>
          <h6>Enero 2007 – Abril 2013 / Goldenfrost</h6>

          <p>
            Desarrollador de aplicaciones y mejoras para los procesos internos del ERP propio de la compañía. Migración a plataforma Web (.Net C#) de la aplicación de escritorio obsoleta (Visual FoxPro). Implementación de etiquetas con código de
            barra para controlar el tracking de los productos.
          </p>

          <ul>
            <strong><li>Tecnologías:</li></strong>
            <ul>
              <li>Visual FoxPro</li>
              <li>.Net</li>
              <li>JavaScript</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>Crystal Report</li>
              <li>Zpl (impresoras zebra)</li>
            </ul>
          </ul>
          <br />
          <ul>
            <strong><li>Base de datos:</li></strong>
            <ul>
              <li>SQL Server</li>
            </ul>
          </ul>
          <br />
          <ul>
            <strong><li>Herramientas:</li></strong>
            <ul>
              <li>Visual Studio</li>
              <li>SQL Server</li>
              <li>Visual FoxPro</li>
              <li>Visual SourceSafe</li>
            </ul>
          </ul>
          <br />
          <ul>
            <strong><li>Metodologías:</li></strong>
            <ul>
              <li>Modelo de cascada</li>
            </ul>
          </ul>
        </section>
        <hr />
      </aside>
    </div>
  </div>
</div>
