<div class="modal fade" id="modalUsuarios" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalUsuariosLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalUsuariosLabel">{{ agregarModificarUsuario }} usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formUsuarios" id="formUsuarios" class="row g-3 needs-validation" novalidate>
          <div class="col-12">
            <label for="nombre">Nombre Completo</label>
            <input
              type="text"
              id="nombre"
              [ngClass]="{ 'is-invalid': hasError('nombre', 'required') || hasError('nombre', 'minlength') || hasError('nombre', 'pattern') }"
              class="form-control"
              placeholder="Javier Olivares Zavala"
              formControlName="nombre"
              maxlength="50"
              [(ngModel)]="nombre"
              (blur)="eliminarEspacios('nombre')"
            />
            <div class="text-danger" *ngIf="hasError('nombre', 'required')">Ingresa el nombre</div>
            <div class="text-danger" *ngIf="hasError('nombre', 'minlength')">Cantidad mínima de caracteres incorrecta</div>
            <div class="text-danger" *ngIf="hasError('nombre', 'pattern')">El nombre solo debe contener letras</div>
          </div>
          <div class="col-12">
            <label for="fechaNacimiento">Fecha Nacimiento</label>
            <div class="input-group">
              <input id="fecha" class="form-control" placeholder="yyyy-mm-dd" formControlName="fecha" [(ngModel)]="fecha" name="dp" ngbDatepicker #d="ngbDatepicker" />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
            </div>
            <input type="password" [ngClass]="{ 'is-invalid': hasError('password', 'required') || hasError('password', 'minlength') }" class="form-control" placeholder="Ingresa Contraseña" formControlName="password" />
            <div class="text-danger" *ngIf="hasError('password', 'required')">Ingresa la contraseña</div>
            <div class="text-danger" *ngIf="hasError('password', 'minlength')">Formato de contraseña inválido</div>
          </div>
          <div class="col-12">
            <label for="email">Email</label>
            <input
              type="email"
              id="emails"
              [ngClass]="{ 'is-invalid': hasError('email', 'required') || hasError('email', 'email') }"
              class="form-control"
              placeholder="javier.olivares.zavala@gmail.com"
              maxlength="100"
              [(ngModel)]="email"
              formControlName="email"
              (blur)="eliminarEspacios('email')"
            />
            <div class="text-danger" *ngIf="hasError('email', 'required')">Ingresa el email</div>
            <div class="text-danger" *ngIf="hasError('email', 'email')">Formato de email inválido</div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="funAceptar()">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalUsuariosEliminar" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalUsuariosEliminarLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="modalUsuariosEliminarLabel"><i class="bi bi-exclamation-triangle"></i> Eliminar usuario</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          ¿Estás seguro que deseas eliminar el usuario <strong>{{ nombreUsuario }}</strong
          >?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="funAceptarEliminar()">Aceptar</button>
      </div>
    </div>
  </div>
</div>
